* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
}

#title {
    font-family: 'JetBrains Mono', monospace;
    color: white;
}

#connection-id {
    font-family: 'JetBrains Mono', monospace;
    color: white;
}